<html>

<head>
    <title>DroneVis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

    <!-- Bootstrap, Jquery and Fontawesome -->
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script defer src="{% static 'fontawesome/js/fontawesome-all.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Quick select improvement -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>

    <!-- three.js for 3D visualization -->
    <script src="{% static 'three.js/three.js' %}"></script>
    <script src="{% static 'three.js/MTLLoader.js' %}"></script>
    <script src="{% static 'three.js/ObjectLoader.js' %}"></script>
    <script src="{% static 'three.js/AnaglyphEffect.js' %}"></script>
    <script src="{% static 'three.js/GPUParticleSystem.js' %}"></script>
    <script src='https://threejs.org/examples/js/postprocessing/EffectComposer.js'></script>
    <script src='https://threejs.org/examples/js/postprocessing/RenderPass.js'></script>
    <script src='https://threejs.org/examples/js/postprocessing/ShaderPass.js'></script>
    <script src='https://threejs.org/examples/js/shaders/CopyShader.js'></script>
    <script src="https://threejs.org/examples/js/shaders/FXAAShader.js"></script>
    <script src="https://threejs.org/examples/js/shaders/LuminosityHighPassShader.js"></script>
    <script src="https://threejs.org/examples/js/postprocessing/UnrealBloomPass.js"></script>

    <script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>
    <!-- plotly for graph visualization -->
    <script src="{% static 'plotly.js/plotly.js' %}"></script>

    <!-- FONT -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />

    <!-- Our code -->
    <link rel="stylesheet" type="text/css" href="{% static 'main_view/style.css' %}">
    <link rel="shortcut icon" href="{% static 'main_view/favicon.ico' %}">
    <script src="{% static 'main_view/webActionController.js' %}"></script>
    <script src="{% static 'main_view/controller.js' %}"></script>

    <script>
        var static_url = "{% get_static_prefix %}";
        var media_url = "{% get_media_prefix %}";
    </script>

</head>

<body>
    <nav class="navbar navbar-expand navbar-t13">
        <label for="object_select" style="margin-right: 10px">Select 3D model:
        </label>
        <select id="object_select" class="selectpicker" data-live-search="true" autocomplete="off">
          {% for model in models %}
              <option value="{{ model.id }}">
                  {{ model.name }}
              </option>
          {% endfor %}
        </select>
        <label for="texture_select" style="margin-right: 10px; margin-left: 20px">Select texture:
        </label>
        <input id="texture_select" type="color" value="#009933" autocomplete="off"/>
    </nav>

    <div id="offline_indicator">
        <span style=" position: relative; top: 30%">OFFLINE</span>
    </div>

    <div id="main_display" class="container-full">
        <div class="row">
            <div id="canvas" class="graph"></div>
            <div id="graph_attitude" class="graph"></div>
        </div>
        <div class="row">
            <div id="graph_rc_channels" class="graph"></div>
            <div id="data_text" class="graph text"></div>
        </div>
    </div>
</body>

</html>
