#main_display
{
    height: 90vh;
    width: 80vw;
    margin: auto;
}

body
{
    background: url("background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: Ubuntu;
    font-style: normal;
    font-variant: normal;
}

p{
    color: snow;
    font-style: initial;
}
.text{
    padding: 5px;

    overflow: auto;
}
.graph{
    width: 40vw;
    height: 45vh;

    background: #000000AA;
    margin: 5px;

    border: 1px solid snow;

}

.dropdown-toggle{
    height: 42px;
    background: #000000AA;
    color: snow;
}

.navbar-t13{
    padding-left: 20vh;
    padding-right: 20vh;
    background: #000000AA;
    color: snow;
    border-bottom: 1px solid snow;
}

#texture_select
{
    height: 42px;
    width: 84px;
    padding: 12px;
    background: #000000AA;
    border: 1px solid snow;
    border-radius: 3px;
}
#texture_select:hover
{
    background: aliceblue;
}


#offline_indicator
{
    position: absolute;

    top: 30vh;
    z-index: 9001;
    display: table-cell;
    vertical-align: middle;

    border-top: 1px solid #009933;
    border-bottom: 1px solid #009933;
    background: #000000DD;
    color: #009933;
    font-weight: bolder;
    font-size: 5vw;
    text-align: center;
    width: 100vw;
    height: 40vh;
    margin: auto;

    padding: 0;
}

.c3 .c3-axis-x path, .c3 .c3-axis-x line {
    stroke: snow;
}
.c3 .c3-axis-y path, .c3 .c3-axis-y line {
    stroke: snow;
}

.c3-axis-y text {
   fill: snow;
   font-size:12px;
}
.c3 text {
    font-size:12px;
    fill: snow;
}


 /* Customize the label (the container) */
.check_container {
  background: black;
  border: 1px solid snow;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  height: 42px;
  cursor: pointer;
  color: snow;
  margin-bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  display: inline-block;
  float: right;
  padding-left: 9px;
  padding-top: 5px;
  height: 24px;
  width: 24px;
  background-color: snow;
    border: 1px solid black;
}

/* On mouse-over, add a grey background color */
.check_container:hover{
  background-color: aliceblue;
}

/* When the checkbox is checked, add a blue background */
.check_container input:checked ~ .checkmark {
  background-color: #28a745;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check_container .checkmark:after {
  width: 5px;
  height: 10px;
  border: solid snow;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
